:root {
  --primary: rgb(110, 226, 137);
}

.btn {
  padding: 8px 20px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  padding: 8px 20px;
  background: white;
  color: rgb(47, 183, 90);
  border-radius: 4px;
  transition: all 0.3s ease-out;
  transition: 250ms;
}

.btn--primary {
  background-color: var(--primary);
}

.btn--outline {
  padding: 8px 20px;
  background-color: transparent;
  color: white;
  border-radius: 4px;
  transition: all 0.3s ease-out;
  border: 1px solid var(--primary);
}

.btn--medium {
  padding: 8px 20px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
}
.btn--large {
  padding: 12px 22px;
  border-radius: 4px;
  color: white;
  font-size: 18px;
}